<%- include('./partials/header.ejs') %>
    <main class="d-flex flex-column justify-content-center">
        <div class="checkoutContainer d-flex align-items-center">
            <img src="/assets/bag.png" alt="Bag Icon" class="checkoutImage"/>
            <div class="d-flex flex-column align-items-center">
                <h2 class="text-center mb-3">Gracias por su compra</h2>
                <h4 class="text-center">Pronto recibirá un correo con el detalle de su compra.</h4>
                <a href="/" class="searchButton py-2 mt-3"><i class="fas fa-home"></i> Ir a Inicio</a>
            </div>
        </div>
    </main>

<%- include('./partials/footer.ejs') %>