<%- include('./partials/header.ejs') %>
    <div class="container-fluid">
        <input type="text" name="search" id="search" placeholder="Buscar productos...">
        <input type="submit" value="Buscar">
    </div>

<%- include('./partials/footer.ejs') %>