<%- include('./partials/header.ejs') %>
    <div class="container-fluid">
        <form action="/search-products" method="GET">
            <input type="text" name="search" id="search" placeholder="Buscar productos...">
            <input type="submit" value="Buscar">
        </form>
    </div>

<%- include('./partials/footer.ejs') %>