body {
  width: 100%;
  min-height: 100vh;
  background-color: #eee !important;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 !important;
}

nav {
  background-color: #333 !important;
}

nav i {
  font-size: 35px;
  color: whitesmoke;
}

nav li > a {
  color: whitesmoke !important;
  font-size: 17px;
  border: 2px solid transparent;
  transition: all 300ms !important;
}

nav li > a:hover {
  text-decoration: underline;
  color: #ff6a00 !important;
}

.activeLink {
  border: 2px solid #ff6a00;
  border-radius: 5px;
}

.logo {
  width: 50px;
}

.searcherSection {
  background-color: #444;
}

.searchInput {
  border-radius: 4px;
  outline: none;
  padding: 0.3em 0.8em;
  width: 40%;
  background-color: #eee;
}

.searchButton {
  background-color: #ff6a00;
  border: none;
  color: whitesmoke;
  border-radius: 7px;
  padding: 0 1em;
}

.productImage {
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.productName {
  min-height: 2.7rem;
}

.finalPrice {
  font-size: 20px;
}

.discount {
  color: red;
  text-decoration: line-through;
}

.discCircle {
  padding: 0.5em;
  font-size: 20px;
}

.messageContainer img {
  width: 200px;
}

.messageContainer h2,
.messageContainer h3 {
  color: #444;
}

footer {
  box-shadow: 1px 1px 5px #444;
  background-color: #444;
}

footer span {
  color: whitesmoke;
  font-weight: bold;
  font-size: 16px;
}

.logoFooter {
  width: 30px;
  margin-right: 1em;
}

.iconSection i {
  margin: 0 0.5em;
  color: whitesmoke;
  font-size: 30px;
}
