body {
  width: 100%;
  min-height: 100vh;
  background-color: #eee !important;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 !important;
}

nav {
  background-color: #333 !important;
}

nav i {
  font-size: 35px;
  color: whitesmoke;
}

nav li > a {
  color: whitesmoke !important;
  font-size: 17px;
  border: 2px solid transparent;
  transition: all 300ms !important;
}

nav li > a:hover {
  text-decoration: underline;
  color: #ff6a00 !important;
}

.activeLink {
  border: 2px solid #ff6a00;
  border-radius: 5px;
}

.logo {
  width: 50px;
}

.cartIcon,
#close {
  cursor: pointer;
  transition: all 300ms;
}

#close {
  color: #444;
  margin-bottom: 0.5em;
}

.cartIcon:hover,
#close:hover {
  color: #ff6a00;
}

.cartList {
  width: 30vw;
  height: 100vh;
  background-color: #eee;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  box-shadow: -1px -1px 5px #444;
}

#productList {
  width: 100%;
  height: 70%;
  overflow-y: scroll;
}

.singleProduct {
  width: 80%;
  border-bottom: 1px solid #444;
  margin-top: 0.5em;
}

.cartImage {
  width: 5vw;
  height: 7vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 1em 0.3em 0.5em;
}

.info {
  flex: 1;
}

.hide {
  display: none !important;
}

/* SEARCH INPUT */
.searcherSection {
  background-color: #444;
}

.searchInput {
  border-radius: 4px;
  outline: none;
  padding: 0.3em 0.8em;
  width: 40%;
  background-color: #eee;
}

.searchButton {
  background-color: #ff6a00;
  border: none;
  color: whitesmoke;
  border-radius: 7px;
  padding: 0 1em;
}

/* PRODUCT CARD */
.productImage {
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.productName {
  min-height: 2.7rem;
}

.finalPrice {
  font-size: 20px;
}

.discount {
  color: red;
  text-decoration: line-through;
}

.discCircle {
  padding: 0.5em;
  font-size: 20px;
}

.buyButton {
  background-color: #bd5307;
  color: whitesmoke;
}

.buyButton:hover {
  background-color: #963e00;
  color: whitesmoke;
}

/* SEARCH NOT FOUND */
.messageContainer img {
  width: 200px;
}

.messageContainer h2,
.messageContainer h3 {
  color: #444;
}

.messageContainer a {
  text-decoration: none;
  transition: all 300ms;
}

.messageContainer a:hover {
  color: #444;
}

/* FOOTER */
footer {
  box-shadow: 1px 1px 5px #444;
  background-color: #444;
}

footer span {
  color: whitesmoke;
  font-weight: bold;
  font-size: 16px;
}

.logoFooter {
  width: 30px;
  margin-right: 1em;
}

.iconSection i {
  margin: 0 0.5em;
  color: whitesmoke;
  font-size: 30px;
  cursor: pointer;
}
